doctype html
html
  head
    title= title 
    link(type="text/css",rel="stylesheet",href="./css/index.min.css")
  body
    block content
    script(src="./js/jquery-1.12.4.min.js")
    script(src="./js/index.js")